body {
  background: #f84d14;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .search-box {
    font-family: "Open-sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #2f3643;
    padding: 10px 10px;
    &:hover > input {
      width: 300px;
    }

    input {
      transition: width 0.8s;
      width: 0;
      margin-left: 20px;
      font-size: 1.5rem;
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      &:focus {
        width: 100%;
      }
    }

    span {
      cursor: pointer;
      display: flex;
      justify-content: center;

      border-radius: 50%;
      background: #fff;
      padding: 1rem;
      svg {
        fill: #f84d14;
      }
    }
  }
}
